.features
  padding-top: 75px
  padding-bottom: 80px
  background-color: #f4f9fb
  &-text
    text-align: center
    color: $text-color-gray
    margin-bottom: 40px
    &__subtitle
      display: block
      text-align: center
      margin-top: 25px
  &-wrap
    display: flex
    flex-flow: row wrap
    justify-content: space-between
  &-block
    display: flex
    flex-direction: column
    text-align: center
    flex-basis: 32%
    width: 33%
    margin-bottom: 42px
    &__img
      display: inline-block
      min-height: 61px
      max-height: 62px
    