

.container 
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
@media (min-width: 320px)
  .container
    max-width: 290px
@media (min-width: 576px) 
  .container 
    max-width: 540px
@media (min-width: 768px) 
  .container 
    max-width: 720px
@media (min-width: 992px) 
  .container 
    max-width: 960px
@media (min-width: 1200px) 
  .container 
    max-width: 1170px
  
@media (min-width: 992px)
  .main
    &-form
      right: 30px
    &-text
      position: relative
      top: -15px


@media (max-width: 1200px)
  .main
    &-text
      max-width: 540px
  .about
    &-wrap
      flex-direction: column
  .feedback
    &-bg
      width: 930px

@media (max-width: 992px)
  .hidden-mobile
    display: none

  .main
    flex-direction: column
    text-align: center
    &-text
      margin-bottom: 50px

  .about
    &-text
      &__descr
        text-align: center
  
  .features
    &-text
    &-block
      flex-basis: 49%
  
  .answerWhy
    &-block
      width: 360px
      margin-bottom: 15px
      border: none
      &__wrap
        flex-direction: column
        align-items: center
  
  .feedback
    &-slider
      &__bottom
        max-width: 690px
  
@media (max-width: 768px)
  .header
    &-wrap
      align-items: center
    &-contacts
      flex-direction: column
      align-items: center
      &-phone
        margin-right: 0
        &__tel
          font-size: 16px
          font-weight: 700
  .about
    &-text
      max-width: 480px
      &__descr
        text-align: center
      &__features
        flex-direction: column
        &-block
          &:first-child
            margin-bottom: 50px
          &_rectangle
            width: 100%
            height: 50%
            bottom: 50%
            transform: translateY(-50%)
          &_img
            left: 50%
            transform: translateX(-50%)
          &_text
            text-align: center
            width: 135px
            font-size: 14px
            line-height: 16px
            left: -15px
    &-video
      &__main
        max-width: 480px     

  .recruitment
    &-wrap
      flex-direction: column
      align-items: center
    &-text
      margin-right: 0

      text-align: center
      margin-bottom: 20px    

  .feedback
    &-slider
      &__top
        max-width: 260px
      &__bottom
        max-width: 510px 
  
@media (max-width: 576px)
  .hidden-576
    display: none
  .main-screen
    padding-top: 30px
  .header
    margin-bottom: 50px
    &-wrap
      align-items: center
    &-logo
      width: 100px
      margin-right: 15px
    &-contacts
      flex-direction: column
      align-items: center
      &-phone
        margin-right: 0
        &__tel
          font-size: 14px
          font-weight: 500
    &-button
      padding: 6px 12px
      font-size: 10px
  
  .main
    margin-bottom: 80px
    &-text
      margin-bottom: 30px
      &__title
        margin-bottom: 15px
      &__subtitle
        font-size: 20px

    &-title
      font-size: 30px
    &-form
      width: 258px
      &::before
        content: ''
        position: absolute
        display: block
        width: 120%
        height: 360px
        background: rgba(255, 255, 255, .4)
        top: 50%
        transform: translateY(-50%)
        opacity: 0.5
        z-index: -1
      &__input
        width: 100%
        text-align: center
      &__btn
        padding: 15px 28px
        font-size: 12px
        max-width: 180px
    
  .about
    &-text
      max-width: 258px
      &__descr
        text-align: center
      &__features
        flex-direction: column
        &-block
          &:first-child
            margin-bottom: 50px
          &_rectangle
            width: 100%
            height: 50%
            bottom: 50%
            transform: translateY(-50%)
          &_img
            left: 50%
            transform: translateX(-50%)
          &_text
            text-align: center
            width: 135px
            font-size: 14px
            line-height: 16px
            left: -15px
    &-video
      width: 258px
      &__main
        width: 260px
        height: 260px
    
  .features
    &-title
      font-weight: 600
    &-text
    &-block
      flex-basis: 100%
    &-btn
      font-size: 15px
      padding: 17px 14px
  .recruitment
    &-text
      &__title
        font-size: 22px
        font-weight: 700
        margin-bottom: 10px
      &__descr
        font-size: 16px
        line-height: 20px
  .feedback
    &-slider
      &__bottom
        max-width: 290px


@media (min-width: 993px) and (max-width: 1200px)
  .answerWhy
    &-block
      max-width: 300px
      &__wrap


@media (width: 1200px)
  .feedback /* костыль */
    &-bg
      width: 1140px