@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova Reg'), local('ProximaNova-Regular'),  
    url('../fonts/ProximaNova-Regular.woff') format('woff'), 
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.eot') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova Bold '), local('ProximaNova-Bold'),  
    url('../fonts/ProximaNova-Bold.woff') format('woff'), 
    url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold.eot') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova SemiBold '), local('ProximaNovaCond-SemiBold'),  
    url('../fonts/ProximaNovaCond-Semibold.woff') format('woff'), 
    url('../fonts/ProximaNovaCond-Semibold.ttf') format('truetype'),
    url('../fonts/ProximaNovaCond-SemiBold.eot') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova Light '), local('ProximaNova-Light'),  
    url('../fonts/ProximaNova-Light.woff') format('woff'), 
    url('../fonts/ProximaNova-Light.ttf') format('truetype'),
    url('../fonts/ProximaNova-Light.eot') format('opentype');
  font-weight: 300;
  font-style: normal;
}