body {
  margin: 0;
  font-family: 'ProximaNova', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'ProximaNova';
  outline: none;
  background-color: #ffdc38;
  border: 1px solid #ffdc38;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-title {
  text-align: center;
  color: #202020;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.text-bold {
  color: #202020;
  font-weight: 700;
}

.text-block {
  display: inline-block;
}

.slider-arrow {
  position: absolute;
  top: 0;
  width: 18px;
  height: 70%;
  cursor: pointer;
  z-index: 9;
}

.slider-arrow_left {
  left: 0;
  background: url("../img/slider/arrow-left.png") center no-repeat;
}

.slider-arrow_right {
  right: 0px;
  background: url("../img/slider/arrow-right.png") center no-repeat;
}

.input {
  padding: 17px 20px 17px 45px;
  border-radius: 35px;
  outline: none;
  width: 300px;
  border: none;
}

.input-one {
  background: #ffffff url("../img/main/user_icon.png") no-repeat;
  background-position: 20px;
}

.input-two {
  background: #ffffff url("../img/main/phone_icon.png") no-repeat;
  background-position: 20px;
}

@media (min-width: 992px) {
  .button:hover {
    background-color: #ffbb38;
    border: 1px solid #ffbb38;
    -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.19);
  }
  .section-title {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
  }
  .section-title::after {
    content: '';
    display: block;
    height: 1px;
    background: url("../img/title-after.png") center no-repeat;
    margin-top: 15px;
  }
  .offer-title::after {
    content: '';
    display: block;
    height: 1px;
    background: url("../img/title-offer.png") center no-repeat;
    margin-top: 15px;
  }
  .tel {
    text-decoration: none;
  }
  .tel:hover {
    color: #ffbb38;
  }
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .input {
    width: 100%;
  }
}

.main-screen {
  padding-top: 60px;
  padding-bottom: 67px;
  color: #ffffff;
  background: #1b8fd4 url("../img/main/main-bg.png") center no-repeat;
  background-size: cover;
}

.header {
  margin-bottom: 125px;
}

.header-logo img {
  width: 100%;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-text {
  font-family: 'ProximaNova';
  max-width: 320px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}

.header-logo {
  margin-right: 60px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 26px;
}

.header-contacts-phone__tel {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.header-contacts-phone__link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.header-button {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 24px;
}

.main-text {
  max-width: 665px;
}

.main-text__title {
  margin-bottom: 23px;
}

.main-text__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.main-text__descr {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 33px;
}

.main-button {
  padding: 20px 35px;
  font-size: 16px;
}

.main-form {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form::before {
  content: '';
  position: absolute;
  background: url("../img/main/border.png") center no-repeat;
  width: 360px;
  height: 310px;
  top: -35px;
  opacity: 0.5;
  z-index: -1;
}

.main-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.main-form__text {
  max-width: 255px;
  margin-bottom: 30px;
}

.main-form__text_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.main-form__input {
  margin-bottom: 15px;
}

.main-form__btn {
  padding: 19px 38px;
}

.main-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about {
  padding-top: 75px;
  padding-bottom: 78px;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text {
  margin-bottom: 26px;
  max-width: 560px;
}

.about-text__descr {
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 26px;
  text-align: justify;
}

.about-text__descr-p_1 {
  margin-bottom: 10px;
}

.about-text__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-text__features-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 112px;
}

.about-text__features-block_rectangle {
  width: 265px;
  height: 50px;
  border-radius: 4px;
}

.about-text__features-block_rectangle-1 {
  background: #1991d4;
}

.about-text__features-block_rectangle-2 {
  background: #7e66e7;
}

.about-text__features-block_img {
  position: absolute;
  top: 0;
  left: 15px;
  display: inline-block;
  width: 102px;
  height: 115px;
}

.about-text__features-block_text {
  position: absolute;
  color: #202020;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  width: 236px;
}

.about-video__main {
  width: 555px;
  height: 360px;
}

.features {
  padding-top: 75px;
  padding-bottom: 80px;
  background-color: #f4f9fb;
}

.features-title {
  margin-bottom: 20px;
}

.features-text {
  text-align: center;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 40px;
}

.features-text__subtitle {
  display: block;
  text-align: center;
  margin-top: 14px;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  width: 33%;
  margin-bottom: 41px;
}

.features-block__img {
  display: inline-block;
  min-height: 61px;
  max-height: 62px;
}

.features-block__text {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.14px;
}

.features-button {
  text-align: center;
}

.features-btn {
  padding: 20px 33px;
  font-size: 15px;
}

.answerWhy {
  padding-top: 70px;
  padding-bottom: 73px;
}

.answerWhy-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  max-width: 360px;
  height: 188px;
  border: 1px solid #eeedee;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
}

.answerWhy-block__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.answerWhy-block__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 13px;
}

.answerWhy-block__text {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.14px;
}

.sertificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sertificate-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  max-width: 150px;
  border: 1px solid #eeedee;
  margin-bottom: 16px;
}

.sertificate-img {
  width: 150px;
}

.sertificate-img img {
  width: 100%;
}

.sertificate-text {
  color: #5b5b5b;
  text-align: center;
  max-width: 755px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.recruitment {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  z-index: 3;
}

.recruitment::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/recruitment.png") center no-repeat;
  background-size: cover;
  z-index: -1;
}

.recruitment-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.recruitment-text {
  color: #ffffff;
  margin-right: 53px;
}

.recruitment-text__title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
  line-height: 24px;
}

.recruitment-text__descr {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.recruitment-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 25.47px;
  padding: 14px 33px;
}

.feedback {
  padding-top: 73px;
  padding-bottom: 80px;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-bg {
  position: absolute;
  width: 1140px;
  height: 255px;
  top: 25%;
  z-index: -5;
}

.feedback-bg img {
  width: 100%;
}

.feedback-title {
  margin-bottom: 29px;
}

.feedback-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.feedback-slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 320px;
  margin-bottom: 18px;
}

.feedback-slider__top-text {
  text-align: center;
}

.feedback-slider__top-text__title {
  color: #202020;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.feedback-slider__top-text__subtitle {
  color: #404040;
  font-size: 16px;
  font-weight: 300;
}

.feedback-slider__top-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}

.feedback-slider__top .slick-slider {
  width: 150px;
}

.feedback-slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 745px;
}

.feedback-slider__bottom-text {
  max-width: 745px;
  text-align: center;
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.14px;
}

.feedback-slider__bottom-text-p:first-child {
  margin-bottom: 12px;
}

.feedback-btn {
  font-size: 15px;
  font-weight: 700;
  padding: 18px 45px;
}

.feedback .container {
  position: relative;
}

.services {
  padding-top: 75px;
  padding-bottom: 78px;
  background-color: #f4f9fb;
}

.services-title {
  margin-bottom: 27px;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-block {
  padding: 10px 9px 30px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  background-color: #fff;
  border: 1px solid #eeedee;
  border-radius: 5px;
}

.services-block__img {
  margin-bottom: 27px;
}

.services-block__img img {
  width: 100%;
}

.services-block__text {
  text-align: center;
  margin-bottom: 28px;
}

.services-block__text-title {
  color: #202020;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 20px;
}

.services-block__text-descr {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.services-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 22.04px;
  padding: 10px 52px;
}

.offer {
  padding-top: 74px;
  padding-bottom: 80px;
  background: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  position: relative;
  z-index: 1;
}

.offer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/offer/offer.png") center no-repeat;
  background-size: cover;
  z-index: -1;
}

.offer-title {
  color: #ffffff;
  margin-bottom: 10px;
}

.offer-subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 28px;
}

.offer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-form {
  margin-bottom: 20px;
}

.offer-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-btn {
  padding: 17px 36px;
  font-size: 15px;
  font-weight: 700;
}

.contacts {
  padding-top: 75px;
  padding-bottom: 75px;
}

.contacts-title {
  margin-bottom: 32px;
}

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-map {
  width: 730px;
  height: 410px;
  margin-right: 51px;
}

.contacts-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.contacts-adress__title {
  color: #202020;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
}

.contacts-adress__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-adress__place-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  border-radius: 50%;
  margin-right: 10px;
}

.contacts-adress__place-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.contacts-phone__title {
  color: #202020;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
}

.contacts-phone__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-phone__num-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  border-radius: 50%;
  margin-right: 10px;
}

.contacts-phone__num-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.contacts-phone__num-tel {
  color: #202020;
}

.contacts-btn {
  font-size: 14px;
  padding: 15px 30px;
}

.contacts-btn__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-btn__block-title {
  color: #202020;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 15px;
}

.footer {
  padding-top: 45px;
  background: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  position: relative;
  z-index: 1;
}

.footer-header {
  margin-bottom: 41px;
}

.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/footer/footer-bg.png") center no-repeat;
  background-size: cover;
  z-index: -1;
}

.footer-footer {
  padding-top: 27px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    max-width: 290px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 992px) {
  .main-form {
    right: 30px;
  }
  .main-text {
    position: relative;
    top: -15px;
  }
}

@media (max-width: 1200px) {
  .main-text {
    max-width: 540px;
  }
  .about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-bg {
    width: 930px;
  }
  .section {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

@media (max-width: 992px) {
  .hidden-mobile {
    display: none;
  }
  .section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .header {
    margin-bottom: 80px;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main-text {
    margin-bottom: 50px;
  }
  .about-text__descr {
    text-align: center;
  }
  .features-block {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .answerWhy-block {
    width: 360px;
    margin-bottom: 15px;
    border: none;
  }
  .answerWhy-block__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-block {
    margin-bottom: 20px;
  }
  .feedback-slider__bottom {
    max-width: 690px;
  }
  .contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-map {
    margin-right: 0;
    max-width: 690px;
  }
  .contacts-text {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .contacts-adress {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .contacts-phone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .contacts-btn__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .hidden-768 {
    display: none;
  }
  .section {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
  .header {
    margin-bottom: 50px;
  }
  .header-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contacts-phone {
    margin-right: 0;
  }
  .header-contacts-phone__tel {
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
  }
  .header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 25px;
  }
  .about {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .about-text {
    max-width: 480px;
  }
  .about-text__descr {
    text-align: center;
  }
  .about-text__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-text__features-block:first-child {
    margin-bottom: 50px;
  }
  .about-text__features-block_rectangle {
    width: 100%;
    height: 50%;
    bottom: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .about-text__features-block_img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about-text__features-block_text {
    text-align: center;
    width: 135px;
    font-size: 14px;
    line-height: 16px;
    left: -15px;
  }
  .about-video__main {
    max-width: 480px;
  }
  .recruitment-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recruitment-text {
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .feedback-slider__top {
    max-width: 260px;
  }
  .feedback-slider__bottom {
    max-width: 510px;
  }
  .offer-subtitle {
    text-align: center;
  }
  .offer-forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-form__input:first-child {
    margin-bottom: 15px;
  }
  .offer-btn {
    padding: 15px 25px;
  }
  .contacts-map {
    max-width: 510px;
  }
}

@media (max-width: 576px) {
  .hidden-576 {
    display: none;
  }
  .main-screen {
    padding-top: 30px;
  }
  .header {
    margin-bottom: 50px;
  }
  .header-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo {
    width: 100px;
    height: 26.5px;
    margin-right: 15px;
  }
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contacts-phone {
    margin-right: 0;
  }
  .header-contacts-phone__tel {
    font-size: 14px;
    font-weight: 500;
  }
  .header-button {
    padding: 5px 30px;
    font-size: 10px;
  }
  .main {
    margin-bottom: 80px;
  }
  .main-text {
    margin-bottom: 30px;
  }
  .main-text__title {
    margin-bottom: 15px;
  }
  .main-text__subtitle {
    font-size: 20px;
  }
  .main-title {
    font-size: 30px;
  }
  .main-form {
    width: 258px;
  }
  .main-forms {
    width: 100%;
  }
  .main-form::before {
    content: '';
    position: absolute;
    display: block;
    width: 120%;
    height: 360px;
    background: rgba(255, 255, 255, 0.4);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.5;
    z-index: -1;
  }
  .main-form__input {
    width: 100%;
  }
  .main-form__btn {
    padding: 15px 28px;
    font-size: 12px;
    max-width: 180px;
  }
  .about-text {
    max-width: 258px;
  }
  .about-text__descr {
    text-align: center;
  }
  .about-text__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-text__features-block:first-child {
    margin-bottom: 50px;
  }
  .about-text__features-block_rectangle {
    width: 100%;
    height: 50%;
    bottom: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .about-text__features-block_img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about-text__features-block_text {
    text-align: center;
    width: 135px;
    font-size: 14px;
    line-height: 16px;
    left: -15px;
  }
  .about-video {
    width: 258px;
  }
  .about-video__main {
    width: 260px;
    height: 260px;
  }
  .features-title {
    font-weight: 600;
  }
  .features-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
    position: relative;
  }
  .features-block::after {
    content: '';
    display: block;
    height: 1px;
    background: url("../img/title-after.png") center no-repeat;
    margin-top: 20px;
  }
  .features-btn {
    font-size: 15px;
    padding: 17px 14px;
  }
  .recruitment-text__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .recruitment-text__descr {
    font-size: 16px;
    line-height: 20px;
  }
  .feedback-slider__bottom {
    max-width: 290px;
  }
  .services-block {
    width: 290px;
  }
  .offer-forms {
    width: 260px;
  }
  .offer-btn {
    padding: 15px 20px;
  }
  .contacts-map {
    width: 300px;
    max-width: 500px;
  }
  .footer {
    padding-top: 25px;
  }
  .footer-header {
    margin-bottom: 21px;
  }
  .footer-text {
    font-size: 9px;
  }
  .footer-footer {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .answerWhy-block {
    max-width: 300px;
  }
  .services-block {
    width: 300px;
  }
  .contacts-map {
    width: 630px;
  }
}

@media (min-width: 769px) {
  .offer-form__input:first-child {
    margin-right: 10px;
  }
  .hidden-m-769 {
    display: none;
  }
}

@media (width: 1200px) {
  .feedback-bg {
    width: 1140px;
  }
}

@media (min-width: 1200px) {
  .contacts-text {
    position: relative;
    top: -17px;
  }
}
/*# sourceMappingURL=style.css.map */